body{
background:#0a0a0a;
color:white;
font-family:Arial;
margin:0;
padding:0;
}

header{
text-align:center;
padding:80px;
background:#111;
}

h1{
color:red;
}

section{
padding:40px;
max-width:1000px;
margin:auto;
}
